body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

header,
main {
    width: 90%;
    max-width: 980px;
    margin: 0%;
}

header h1 {
    text-align: center;
    font-size: 3rem;
}